@media screen and (max-width: 768px) {
  body{
  	background-color: #E4E4E6;
  	text-align: left;
  }
  #introVideo{
    display: none;
  }
  #background{
  	background-image: url("../images/backgrounds/bg_home_mobile.jpg");
  	background-position: 0 0;
    height: 25vh;
  }
  .header li:not(:last-child) {
  	display: none;
  }
  .header #menu{
  	display: none;
  }
  .header .icon {
    float: right;
    display: block;
    margin-top: 1vh;
    margin-left: 10px;
  }
  .header .icon a {
  	  font-size:35px;
  	  color: #F7CA23;
  }
  .icon::after{
  	display: none;
  }
  .header ul{
  	padding: 0;
  }
  #logonav{
  	padding: 20px;
  	padding-top: 0px;
  	height: 10vh;
  	margin-bottom: 0;
  }
  #logonav h1{
  	text-align: left;
  	font-size: 32px;
  }
  .description {
  	position: relative;
  	height: 45vh;
  	background-image: url("../images/backgrounds/bg_home_mobile.jpg");
  	background-position: 0 -166px;
	  background-size: cover;
	  background-repeat: no-repeat;
    top: 0;
    opacity: 1;

  }
  .description img{
  	width: 100%;
  }
  .description h4{
  	font-weight: lighter;
 	font-size: 12px;
  }
  .descBox{
  	text-align: center;
  	color: #f7ca2a;
  	width: 50%;
  	position: absolute;
  	left: 42vw;
  	top: 9vh;
  }
  .descBox #white{
  	display: none;
  }
  h4.bigger{
  	font-size: 13px;
  }
  .theMap{
  	display: none;
  }
  .mobileStations{
  	display: block;
  	width: 100vw;
  	height: 36vh;
  }
  .backgroundMobile{
  	display: block;
  }
  .mobileStations img{
  	width: 100%;
    height: 100%;
  }
  .invalidesM{
  	width: 50vw;
  	height: 15vh;
  	float: left;
  }
  .chateletM{
  	width: 50vw;
  	height: 15vh;
  	float: left;
  }
  .citeM{
  	width: 50vw;
  	height: 15vh;
  	float: left;
  }
  .maubertM{
  	width: 50vw;
  	height: 15vh;
  	float: left;
  }

  .menuModal {
  	display: block;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.15);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 500ms ease-in-out;
	overflow: scroll;
	}

  .menuModal:target {
	opacity: 1;
	pointer-events: auto;
  }
  .menuModal>div {
	width: 50%;
	position: relative;
    padding: 2rem;
	background-color: #141414;
	color: #fff;
  }
  .modal-close {
	  color: #FBCA2F;
	  line-height: 50px;
	  font-size: 27px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 0;
	  width: 70px;
	  text-decoration: none;
	  font-family: parisine;
  }
  .modal-window > div {
    width: 70%;
    position: relative;
    margin: 10% auto;
    padding: 1.5rem;
    background-color: #141414;
    color: #fff;
    height: 80vh;
    background-image: url("../images/backgrounds/popup_background.jpg");
    background-size: cover;
  }
  .modal-window h1{
    text-transform: uppercase;
    text-align: center;
  }
  .modal-close:hover {
  	  color: #bc4d99;
  }
  .mobileNav{
  		width: 50vh;
  		font-family: parisine;
  		font-weight: lighter;
  }
  .mobileNav .stationPart{
  		height: 20px;
		margin-bottom: 60px;
  }
  .mobileNav .stationPart .station{
  		width: 70%;
  		float : left;
  		text-align: left;
  		color: #fff
  }
  .mobileNav .stationPart .cercle{
  		width: 20px;
  		height: 20px;
  		float: left;
  		border-radius: 50%;
  		border : 2px white solid;
  		position: absolute;
		right: 55px;
  }
  .langue{
  	text-align: left;
  	margin-bottom: 60px;
  }
  .langue a {
    height: 45px;
    display: initial;
    width: 66%;
    color: white;
  }
  .langue p{
  	cursor: pointer;
  	margin: 0;
  }
  .langues{
  	position: absolute;
	background-color: #f9f9f9;
	padding: 12px 16px;
	z-index: 1;
	left: 22px;
	top: 20px;
	width: 77px;
	display: none;
	min-width: 0;
	opacity: 1;
  }
  .langues a {
  	color : #000;
  }
  .langue:hover .langues{
    display: none;
  }
  .invalides1{
  		position: absolute;
  		top: 215px;
		right: 64px;
  		background-color: #C7A4CE;
  		width: 7px;
  		height: 30px;

  }
  .invalides2{
  		position: absolute;
  		top: 241px;
		  right: 64px;
  		background-color: #F1C811;
  		width: 7px;
  		height: 30px;
  }
  .chatelet1{
  		position: absolute;
  		top: 295px;
		  right: 64px;
  		background-color: #BB4B9D;
  		width: 7px;
  		height: 56px;
  }
  .cite1{
  		position: absolute;
  		top: 375px;
		right: 64px;
  		background-color: #BB4B9D;
  		width: 7px;
  		height: 30px;
  }
  .cite2{
  		position: absolute;
  		top: 401px;
		  right: 64px;
  		background-color: #F1C811;
  		width: 7px;
  		height: 30px;
  }
  .modal-window .content{
      text-align: center;
      height: 74vh;
      overflow: scroll;
  }
  .modal-window .content img{
      width: 37%;
      text-align: center;
      margin-top: 20px;
  }
  .modal-window .content p{
      text-align: left;
      font-family: parisine;
      line-height: 25px;
      font-size: 14px;
      width: 95%;
  }
  #pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;

}
#pictures .person{
  width: 80%;
  position: relative;
  margin-left: 12px;
  margin-bottom: 18px;
}
#pictures .person img{
  width: 100%;
}
#pictures .person .hidden{
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
#pictures .person:hover .hidden{
  width: 100%;
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
}
#pictures .person .hidden img{
  width: 100%;
}
}